@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

hr {
    border: 1px solid rgba(0,0,0,.12);
    border-width: 0.5px;
}

input{
    text-indent: 10px;
}
