@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.navbar {
    display: flex; 
    background-color: white;
    padding: 20px;
    border-top: 30px solid #f1f2f4;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.user-features {
    position: absolute;
    right: 20px;
}

.btn {
    padding: 8px 12px;
    margin: -10px 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.signup {
    color: #fff;
    background-color: #247f9e;
    border: 0rem;
}

.login {
    background-color: white;
    border: .0625rem solid #d8d9db;
}

.nav-bar-profile {
    display: flex;
    margin-right:50px;
    margin-top:-8px;
}
.nav-bar-profile-content .profile{
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    padding: 8px 8px;
}

.nav-bar-profile-show {
    display: block;
    position: absolute;
    right: 70%;
    z-index: 2;
    background-color: white;
    width: 300px; 
    border-radius: 5px;
    border:1px solid lightgray;
    text-align: left;

}
.nav-bar-profile-show h3 {
    margin: 20px 20px;
    font-weight: bolder;
}
.nav-bar-profile-show ul {
    list-style-type: none;
}
.nav-bar-profile-show li {
    height: 30px;
    padding-top: 10px;
    font-size: 16px;  
    text-indent: 20px;
    color: rgb(131, 131, 131);
    cursor: pointer;
}

.dropdown-links-styling {
    text-decoration: none;
}

.nav-bar-profile-show li:hover {
    background-color:rgb(240, 240, 240);

}
.logo img {
    width: 150px;
    margin: -20px 10px;
}

.nav-bar-profile-show ul > li:last-child {
    color: #da3743;
}