.reservation-confirm-form {
    display: block;
    margin-left: 10%;
    width: 80%;
}
.reservation-confirm-form h1 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bolder;
}
.reservation-confirm-form-overview{
    display: block;
    width: 65%;
}

.reservation-confirm-form-overview img {
    display: block;
    width: 70px;
    height: 70px;
}

.reservation-confirm-form-overview h2 {
    display: inline;
    position: relative;
    font-size: 24px;
    left: 90px;
    top: -65px;
    font-weight: bolder;

}
.reservation-confirm-form-overview p {
    display: inline;
    position: relative;
    font-size: 16px;
    left: 90px;
    top: -45px;
    margin-right: 30px;
    
}
.reservation-confirm-form-info {
    display: block;
    width: 65%;
    line-height: 1.4;
}
.reservation-confirm-form-info h3 {
    display: block;
    font-size: 16px;
}
.reservation-confirm-form-info p {
    display: block;
    font-size: 16px;
}
.reservation-confirm-form-info span {
    color:#da3743;  
}

.reservation-confirm-form-info input {
    width: 280px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}

.reservation-confirm-form-info textarea {
    width: 585px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    resize: vertical;

}

.reservation-confirm-form-info input[type="email"] {
    background-color: rgb(230, 228, 228);
}

.reservation-confirm-form-info input[type="submit"] {
    margin-top: 20px;
    background-color: #da3743;
    color: white;
    font-size: 16px;
    width: 585px;
}

.reservation-confirm-form-info input[type="submit"]:hover {
    background-color: #aa2b33;
}
.reservation-confirm-form-terms p {
    margin: 20px 0px;
    font-weight: lighter;
    font-size: 14px;
}
.reservation-confirm-form-terms span{
    color: #da3743;
} 
.reservation-confirm-form-note {
    display: block;
    position: absolute;
    width: 20%;
    top: 150px;
    left: 65%;
    font-weight: lighter;
}

.reservation-confirm-form-note h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.reservation-confirm-form-note h4 {
    font-size: 14px;
    margin-bottom: 10px;

}
.reservation-confirm-form-note p {
    font-size: 14px;
    color: darkgray;
}





.reservation-show {
    background-color: #f1f2f4;
}

.reservation-confirm {
    display: block;
    left: 10%;
    width: 50%;
    top: 20px;
    position: relative;

    background-color: white;
}
.reservation-confirm-note {
    background-color: #f0faf3;
    font-size: 8px;
    padding-left:60px;
    padding-top:10px;
    padding-bottom:20px;
}
.reservation-restaurant img{
    display: block;

    margin: 20px 30px;
    width:70px;
    height:70px;
    border: 1px solid black;
}
.reservation-restaurant h2{
    display: block;
    position: relative;
    left: 150px;
    top: -80px;
}

.reservation-restaurant p{
    display: inline-block;
    position: relative;
    left: 150px;
    top: -100px;
    margin-right:30px;
}

.reservation-restaurant button {
    display: inline-block;
    position: relative;
    left: -250px;
    top: -50px;
    background-color: white;
    border: none;
    color: #da3743;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    margin-right:20px;
}
.reservation-side-user-info {
    display: block;
    background-color: white;
    position: relative;
    left:70%;
    width:20%;
    top:-260px;
    padding-top:5px;
    padding-left:20px;
    padding-bottom:50px;
}



.reservation-form {
    display: block;
    position: relative;
    left: 70%;
    width: 20%;
    height: fit-content;
    top: -150px;
    background-color: white;
    box-shadow: 5px 5px 5px #cccccc, -5px 0px 5px #cccccc;
    border: 1px solid rgb(206, 206, 206)
}

.reservation-form-box {
    margin:20px 20px;
}
.reservation-form-box h3{
    text-align: center;
    font-size: 18px;
    font-weight:bolder;
}
.reservation-form-input {
    margin-top: -10px;
    line-height: 1.4;
}
.reservation-form-input select {
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    text-indent: 20px;

}
.reservation-form-input select:hover {
    border-bottom: 1px solid #da3743;
}
.reservation-form-input input {
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.reservation-form-input input:hover {
    border-bottom: 1px solid #da3743;
}
.reservation-form-input input[type="submit"] {
    margin-top: 10px;
    border: none;
    background-color: #da3743;
    color: white;
    height: 40px;
    border-radius: 5px;
}
