.restaurant-show-image {
    border: 2px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 250px;
}
.restaurant-show-image {
    width: 100%;
}

.restaurant-show-main {
    display: block;
    position: relative;
    margin-left: 10%;
    margin-top: -60px;
    width: 50%;
    background-color: white;

}
.restaurant-show-side {
    display: block;
    margin-top: -170px;
    position: relative;
    left: 70%;
    width: 20%;
    background-color: white;
}

.restaurant-show-main h1 {
    font-size: 40px;
    margin: 20px 50px;
}

.restaurant-show-main hr {
    width: 90%
}
.restaurant-show-main-info p{
    display: inline-block;
    margin: 10px 50px;
}
.restaurant-show-side-info {
    margin: 10px 20px;
}