.restaurant-show-image {
    height: 300px;
    overflow: hidden;
}

.restaurant-show-image img {
    width: 100%;
    margin-top: -150px;
}

.restaurant-favorite {
    position: absolute;
    top: 120px;
    right: 40px;
    button {
        width: 240px;
        height: 50px;
        border: 1px solid darkgray;
        background-color: white;
        border-radius: 5px;
        font-size: 16px;
        color: rgb(49, 49, 49);
        &:hover {
            border: 2px solid #da3743;
        }
        .fav-saved {
            color: #da3743;
        }
    }
}

.restaurant-show-main-content {
    position: relative;
    left: 10%;
    top: -70px;
    width: 47%;
    padding: 25px;
    background-color: white;
    h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.restaurant-show-main-info  {
    display: flex;
    font-size: 16px;
    margin-top: 20px;
}

.avg-rating {
    display: flex;
    text-indent: 15px;
}

.stars-filled, .stars-half {
    color: #da3743;
}

.stars-unfilled {
    color: darkgray;
}

.price-n-cuisine {
    display: flex;
    span {
        margin: 0px 10px;
    }
}

.restaurant-show-description {
    margin-top: 40px;
    font-size: 18px;
    color: rgb(75, 75, 75);
}

.restaurant-show-main-content .reviews {
    margin-top: 200px;
    margin-bottom: 300px;
    h2 {
        font-size: 30px;
    }
    .review {
        display: flex;
        .review-container {
            margin-left: 20px;
        }
        h3 {
            width: 80px;
            margin-top: 15px;
        }
        ul {
            margin-top: 10px;
        }
        li {
            display:inline;
        }
        span {
            color: #da3743;
        }
        p {
            margin-top: 10px;
            color: rgb(75, 75, 75);
            margin-bottom: 20px;
        }
    }
}

.restaurant-show-side {
    position: absolute;
    top: 650px;
    margin-left: 70%;
    margin-bottom: 50px;
    width: 25%;
    background-color: white;
}

.restaurant-show-side-info {
    line-height: 1.4;
    font-size: 16px;
}

.restaurant-show-side-info ul li:nth-child(odd) {
    word-spacing: 10px;
}

.restaurant-show-side-info ul li:nth-child(2n){
    margin: 0px 30px;
    margin-bottom: 15px;
    color: rgb(58, 58, 58);
}