.search-form {
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6) ),
        url('https://obeytime-seeds.s3.amazonaws.com/splash-search-bar.jpeg');
    background-size: 100%, 100%;
}

.search-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
}

.search-form-input {
    display: inline-flex;
}

.search-form-input input, .search-form-input select {
    border: 1px solid rgb(212, 212, 212);
    cursor: pointer;
}

.search-form-input input[type="date"]{
    width: 170px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-form-input input[type="time"]{
    width: 120px;
    height: 40px;
}

.search-form-input select {
    width: 120px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-form-input input[type="text"]{
    margin-left: 20px;
    width: 290px;
    text-indent: 10px;
    border-radius: 5px;
    cursor: text;
    outline: none;
}

.search-form-input input[type="submit"]{
    margin-left: 20px;
    width: 150px;
    text-align: center;
    background-color: #da3743;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    &:hover {
        background-color: #a1232c;
        transition: 200ms;
    }
}